# dependencies
backend/node_modules/
frontend/node_modules/

# env
backend/.env
frontend/.env

backend/.env.local
frontend/.env.local

backend/cards.db

# builds
backend/dist/
frontend/dist/
backend/build/
frontend/build/


# OS / editor
.DS_Store
desktop.ini
Thumbs.db
