@tailwind base;
@tailwind components;
@tailwind utilities;


.card_breakpoints {
  transform: scale(0.7);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 640px) {
  .card_breakpoints {
    transform: scale(0.85);
  }
}